body {
}
/* colors
dark color: rgb(82, 62, 31);
med color: rgba(82, 62, 31, 0.527);
active button: cadetblue
light color: rgba(201, 186, 171, 0.527);
li*/
/* colors
#0b0c10 black
#1f2833 dk gray rgb(31, 40, 51, 0.527)
#c5c6c7 lt gray
#66fcf1 bright sea green
#45a29e dark sea green */
#showcase {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  background: url("https://raw.githubusercontent.com/islandwonderer/resume.github.io/master/img/markus-winkler-QFPtc0EGCtI-unsplash.jpg");
  background-size: cover;
}
#showcase .primary-overlay {
  background: rgb(31, 40, 51, 0.527);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#big-header {
  color: #0b0c10;
  font-size: 5rem;
}
#showcase .scroll-down {
  height: 80px;
  width: 120px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: #0b0c10;
  text-align: center;
  z-index: 6;
}
#showcase .scroll-down .fas {
  color: #ffffff;
  padding-right: 2px;
  padding-top: 12px;
}
.navbar {
  background-color: #0b0c10;
  position: absolute;
  right: 5%;
  top: 100%;
  width: 120px;
  z-index: 999;
}
.navbar-nav .active {
  background-color: #45a29e;
}

ul {
  list-style-type: none;
}
.nav-item {
  width: 120px;
  height: 80px;
}

.fa-star {
  color: #45a29e;
}
i {
  color: #66fcf1;
}
#profile,
#skills,
#contact {
  background-color: white;
}
#experience,
#projects {
  background-color: #c5c6c7;
}

#footer {
  background-color: #1f2833;
  width: 100%;
  height: 200px;
  color: #45a29e;
}
@media screen and (max-width: 767px) {
  #showcase {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: none;
  }
  #big-header {
    font-size: 3rem;
  }
  #showcase .scroll-down {
    padding: 0 0;
    margin: 0 0;
    height: 90px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0%;
    width: 100%;
    background-color: #222222;
    z-index: 2;
  }
  #showcase .scroll-down .fas {
    color: #ffffff;
    align-self: center;
  }
  #main-nav {
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    margin: auto;
    z-index: 8;
  }
  .nav-link {
    font-size: 1rem;
    color: #45a29e;
  }
  .navbar-nav .active {
    background-color: #45a29e;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-toggler {
    align-self: center;
  }
}
